<html>
    <head>
        <link href="assets/style.css" type="text/css" rel="stylesheet" />        
    </head>
    <body>
        <span>Inventors</span>

        <form method="POST" action="/inventor">
            First <input type="text" id="firstname" name="firstname"></br>
            Last <input type="text" id="lastname" name="lastname"></br>
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>